* {
  font-family: "Optima", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  
} */

a {
  text-decoration: none;
}

nav {
  display: flex;
  /* border: 10px solid black; */
  padding: 1em;
  color: #cb7251;
}

.app-container {
  display: flex;
  border: 9px solid #cb7251;
  padding: 1px;
}

/* SearchBar */
.searchbar-container {
  display: flex;
  background-color: #203649;
  height: 90px;
  align-items: center;
  justify-content: center;
}

.searchbar-component {
  display: flex;
  box-sizing: border-box;
  width: 95%;
}

.searchbar-input {
  width: 100%;
  border: 3px solid #cb7251;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}

.searchbar-btn {
  width: 30%;
  height: 36px;
  border: 1px solid #cb7251;
  background-color: #cb7251;
  text-align: center;
  color: #f3f0f8;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  /* border: 5px dotted pink; */
}

/* OSMD */
.osmd-container {
  display: flex;
  width: 100%;
  border: 5px solid #cb7251;
}

/* Youtube Component */
.youtube-search {
  display: inline-block;
  /* border: 10px solid yellow; */
  width: 45%;
  background-color: #203649;
  color: #cb7251;
}

.video-list {
  display: flex;
  flex-direction: column;
  /* background-color: purple; */
  padding: 5px;
  width: 100%;
  /* border: 3px solid gold; */
}

.detail-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.video-title {
  display: flex;
  flex-wrap: wrap;
}

.video-container {
  display: flex;
  position: relative;
  height: 20%;
  /* border: 5px solid #cb7251; */
}

.video-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 5px solid red; */
  align-content: space-between;
}

.selected-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 5px solid skyblue; */
}

.individual-videos {
  display: flex;
  flex-direction: row;
  /* border: 5px solid gold; */
  /* justify-content: space-evenly; */
  padding: 10px;
  height: 20%;
}

.video-player {
  /* min-height: 480px; */
  width: 100%;
  height: 100%;
}

/* DROPDOWN MENU */
.dropdown-menu {
  width: 50%;
  height: 40px;
  border: 1px solid #cb7251;
  background-color: #cb7251;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  padding: 2em;
  /* border: 5px solid black; */
  align-items: center;
}

.cursor-container {
  display: inline-block;
}
