body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  /* border: 10px solid black; */
  padding: 1em;
}

/* SearchBar */
.searchbar-container {
  display: flex;
  background-color: #203649;
  height: 90px;
  align-items: center;
}

.searchbar-component {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.searchbar-input {
  width: 100%;
  border: 3px solid #cb7251;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}

.searchbar-btn {
  width: 50%;
  height: 36px;
  border: 1px solid #cb7251;
  background-color: #cb7251;
  text-align: center;
  color: #f3f0f8;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.osmd-container {
  width: 100%;
  height: 50%;
  padding: 5px;
  border: 5px solid #cb7251;
}

/* Youtube Component */
.youtube-search {
  display: inline-block;
  width: 100%;
  background-color: #203649;
  color: #cb7251;
}

.video-list {
  display: flex;
  flex-direction: column;
  /* background-color: purple; */
  padding: 5px;
  width: 97%;
  /* border: 3px solid gold; */
}

.video-title {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.video-container {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px;
  border: 5px solid #cb7251;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.video-view {
  display: flex;
  /* border: 5px solid red; */
  align-content: space-between;
}

.selected-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* border: 5px solid skyblue; */
}

.individual-videos {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  /* border: 5px solid brown; */
  align-content: center;
}

.video-player {
  /* min-height: 480px; */
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  width: 50%;
  height: 36px;
  border: 1px solid #cb7251;
  background-color: #cb7251;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  padding: 5px;
  /* border: 1px solid black; */
  justify-content: center;
}
